.table-list{
  margin-left: 20%;
}

.item_amount{
  display:inline-block;
  background-color: rgb(64, 162, 241);
  width: 25%;
  height: 40px;
  color:white;
  font-style: italic;
  box-shadow: 1px 1px 4px #888888;
  padding-top:10px ;
  border: none;
 text-align: center;
 font-size: 18px;
 border-radius: 0px 8px 8px 0px;
}
.item_category{
  display:inline-block;
  background-color: rgb(64, 162, 241);
  width: 25%;
  height: 40px;
  color:white;
  font-style: italic;
  box-shadow: 1px 1px 4px #888888;
  padding-top:10px ;
  border: none;
 text-align: center;
 font-size: 18px;
}

.item_description{
  display:inline-block;
  background-color: rgb(64, 162, 241);
  width: 25%;
  height: 40px;
  color:white;
  font-style: italic;
  box-shadow: 1px 1px 4px #888888;
  padding-top:10px ;
  border: none;
 text-align: center;
 font-size: 18px;
 border-radius: 8px 0px 0px 8px;
}

.expensetotal{
  float: right;
  font-style: italic;
  background-color:  rgb(64, 162, 241);
  color: white;
  height: 2rem;
  text-align: center;
  padding: 0px 20px 25px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px #888888;
  margin-right: 20px;

  
}
.expensetotal h1{
  font-weight: 300;
  font-size: 1.5rem;
}

.delete-btn{
  background-color: transparent;
  border: none;
}

.edit-btn{
  background-color: transparent;
  border: none;
}
.highlight{
  color:darkred;
 
}

.edit{
  color:  rgb(64, 162, 241);
}